.border{
    position: absolute;
    display: grid;
    width: 903px;
    height: 903px;
    border: solid 3px rgba(14,153,255,255);
    margin-left: 10px;
}

.container-small{
    position: absolute;
    display: grid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(204,204,204,255);
    margin: 410px;
    z-index: 6;
}

.container {
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 260px;
    border: 3px solid rgba(58,180,16,255);
    display:grid;
    grid-template-columns:100px;
    grid-template-rows:100px;
    place-content: center;
    border-radius: 50%;
    background-color: rgba(229,229,229,255);
    z-index: 1;
  }

  .item {
    grid-area:1/1;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: rgba(204,204,204,255);
    animation: spin 16s var(--d,0s) linear infinite; /* duration = 12s, number of item = 6 so a delay of 12/6 = 2s */
    transform:rotate(0) translate(200px) rotate(0);
  }
  @keyframes spin {
    100% {
      transform:rotate(1turn) translate(200px) rotate(-1turn);
    }
  }

  .container-anti {
    position: absolute;
    width: 800px;
    height: 800px;
    margin: 47px;
    border: 3px solid rgba(220,3,7,255);
    display:grid;
    grid-template-columns:100px;
    grid-template-rows:100px;
    place-content: center;
    border-radius: 50%;
    z-index: 3;
    
  }
  .item-anti {
    grid-area:1/1;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: rgba(204,204,204,255);
    animation: spin-anti 32s var(--d,0s) linear infinite; /* duration = 12s, number of item = 6 so a delay of 12/6 = 2s */
    transform:rotate(0) translate(400px) rotate(0);
  }
  @keyframes spin-anti {
    100% {
      transform:rotate(-1turn) translate(400px) rotate(-1turn);
    }
  }